<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flooz dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Flooz local.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Flooz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB3D088D186CA11A00CF8380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3D08A8186CA11A00CF8380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAA3F7D197E96BF009F29EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C980126F1A76921000019682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
